body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.ol-attribution.ol-unselectable.ol-control.ol-uncollapsible {
  display: none;
}

.ol-zoom.ol-unselectable.ol-control,
.ol-rotate {
  display: none;
}

.ol-unselectable.ol-control.ol-hidden {
  display: none;
}
